.default /*standard font/colors*/
{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    background-color:#303030;
    color:#d1d1d1;
}

.body /*an extra margin so the main body of the page doesn't get sucked up by the sidebar*/
{
    margin-left:256px !important;
    margin-top:32px;
}

.sticky /*the sticky header*/
{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:3;
    background-color:#202020;
}

.inline /*anything inline with other items, eg. the logo and searchbar*/
{
    display:inline-block;
}

.searchbar /*the actual searchbar formatting*/
{
    margin-left:6%;
    width:40%;
    font-size:larger;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color:#404040;
    border-width:8px;
    border-style:solid;
    border-color:#404040;
    border-radius:4px;
    color:#d1d1d1;
}

.searchbar:focus /*make sure the searchbar doesn't change when someone types in it*/
{
    border-width:8px;
    outline:none;
}

.signin
{
    float:right;
    margin-top:32px;
    margin-right:64px;
    padding:8px 24px 8px 24px;
    font-size:larger;
    background-color:#404040;
    color:#d1d1d1;
    border-width:2px;
    border-style:solid;
    border-color:#404040;
    border-radius:4px;
    cursor:pointer;
}

.sidebar /*formatting for the sidebar*/
{
    height: 100%;
    width: 192px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    padding-top: 128px;
    padding-left:16px;
    font-size:x-large;
}

.bodytext /*formatting for text in the body of the page*/
{
    padding-right:31%;
    font-size:larger;
}

.thumbnail /*formatting for the thumbnail images*/
{
    z-index:1;
    padding:8px;
    margin:8px;
    background-color:#282828;
}

.thumbnailfade /*handling the thumbnail gradient fade effect*/
{
    z-index:2;
    width:320;
    height:180;
    opacity:0;
    background:linear-gradient(45deg,#4000ff, #6900d9);
    position:absolute;
    transition:opacity 0.2s ease-in-out;
    pointer-events:none;
}

.thumbnail:hover > .thumbnailfade /*the desired opacity for the thumbnail fade*/
{
    opacity:0.1;
}

.thumbnailtitle /*style for the title of the video*/
{
    margin-top:4px;
    margin-left:8px;
    position:absolute;
    vertical-align:middle;
}

.videotable /*spacing for the hidden table that organizes videos*/
{
    border-spacing:32px;
}

.creatoricon /*margins for the creator's icon in the thumbnail*/
{
    margin-top:4px;
}

.video /*styling for the actual video box*/
{
    margin:16px;
    padding:32px;
    background-color:#282828;
    width:90%;
    height:60%;
}

.videodetails
{
    margin:16px;
    position:absolute;
}

.videotitle
{
    color:#d1d1d1;
    width:320px;
}

.videocreator
{
    color:#d1d1d1;
}

.videoviews
{
    color:#696969;
    font-size:smaller;
}

.videoviews:hover
{
    color:#808080;
}

.signinfield
{
    background-color:#202020;
    border-color:#202020;
    border-style:solid;
    border-width:4px;
    border-radius:4px;
    font-size:larger;
    margin-top:8px;
    color:#d1d1d1;
}

.signinfield:focus
{
    border-width:4px;
    outline:none;
}

.loginform
{
    margin:16px;
}

.registerform
{
    margin:16px;
}

.formtable
{
    vertical-align:top;
}

.button
{
    background-color:#282828;
    border-color:#282828;
    border-style:solid;
    border-width:4px;
    border-radius:4px;
    font-size:larger;
    padding:4px 8px 4px 8px;
    margin-top:8px;
    color:#d1d1d1;
    cursor:pointer;
}

.navlink /*formatting for links in the sidebar*/
{
    margin-top:8px;
}

a:link /*make standard links vortex titanium*/
{
    color: #d1d1d1;
    background-color: transparent;
    text-decoration: underline;
}

a:visited /*make visited links vortex titanium*/
{
    color: #d1d1d1;
    background-color: transparent;
    text-decoration: underline;
}
  
a:hover /*make hovered links vortex purple*/
{
    color: #6900d9;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active /*make active links vortex blue*/
{
    color: #4000ff;
    background-color: transparent;
    text-decoration: underline;
}

/*
Vortex Colors:
Vortex Purple: #6900d9
Vortex Blue: #4000ff
Vortex Titanium: #d1d1d1
Vortex Steel: #303030
Vortex Steel Dark: #202020
Vortex Silver: #404040
*/
