.default
{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    background-color:rgb(48, 48, 48);
    color:white;
}

.body
{
    margin-left:192px;
}

.sticky
{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:2;
    background-color:rgb(32, 32, 32);
}

.inline
{
    display:inline-block;
}

.searchbar
{
    margin-left:12%;
    width:50%;
    font-size:x-large;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color:rgb(64, 64, 64);
    border-width:8px;
    border-style:solid;
    border-color:rgb(64, 64, 64);
    border-radius:4px;
    color:white;
}

.searchbar:focus
{
    border-width:8px;
    outline:none;
}

.sidenav {
    height: 100%;
    width: 192px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
    padding-top: 128px;
    padding-left:16px
  }